extends layout

block content
    div(class="col mx-md-5")
        h1.text-center.mb-5= title

        a.btn.btn-primary.my-2(href="/api/urzadzenia/dodaj") Dodaj Urządzenie
        each line in line_list
            table.table.table-bordered.table-striped.table-hover.dark-header-hover
                thead.table-dark
                    tr
                        th.text-center(scope='col' colspan='3') #{line.name}
                tbody
                    tr 
                        th.text-center Operacja
                        th.text-center Typ
                        th.text-center Nazwa
                        //- th.text-center Opis
                    each device in device_list
                        if device.prodLine == line._id.toString()
                            tr
                                td.padding0(width="25%") 
                                    a.black-link(href=device.url) #{device.operation==null ? '' : device.operation.name} 
                                td.padding0(width="25%") 
                                    a.black-link(href=device.url) #{device.deviceType==null ? '' : device.deviceType.name} 
                                td.padding0(width="25%") 
                                    a.black-link(href=device.url) #{device.deviceType==null ? '' : device.name}
                                //- td.padding0(width="25%") 
                                //-     a.black-link(href=device.url) #{device.description==null ? '' : device.description}


        if errors
            ul
                for error in errors
                    li!= error.msg

    script.
        const activateLink = document.querySelector('#deviceListActive')
        activateLink.className+=" active"
        const activateSubMenu = document.querySelector('#deviceSubMenu')
        activateSubMenu.className+=" active"
