extends layout

block content
    div(class="col mx-md-5 my-5")
        h1 #{title}

        p.h4.pt-3  Nazwa: #{devicetype.name}
        p.h4.pt-3  Opis: #{devicetype.description}




        a.btn.btn-danger.my-5.mr-2(href=devicetype.url + '/usun') Usuń 

        a.btn.btn-primary.my-5.mr-2(href=devicetype.url + '/edytuj') Zmodyfikuj 



    if err
        ul
            for error in err
                li!= error.msg

    script.
        const activateLink = document.querySelector('#deviceTypeListActive')
        activateLink.className+=" active"
        const activateSubMenu = document.querySelector('#deviceSubMenu')
        activateSubMenu.className+=" active"
