extends layout

block content
    div(class="col mx-md-5")
        div(class='row')
            div.col
                h1 #{title}
        div.mt-4(class='row')
            div.col
                table(class='table table-bordered')
                    thead.table-dark
                        tr
                            th(scope="col" colspan='2').text-center #{device.name==null ? '' : device.name}
                    tbody
                        tr
                            td(width='50%') IP
                            td #{device.ip==null ? '' : device.ip}
                        tr
                            td Linia
                            td #{device.line==null ? '' : device.line.name}
                        tr
                            td Operacja
                            td #{device.operation==null ? '' : device.operation.name}
                        tr
                            td Typ urządzenia
                            td #{device.deviceType==null ? '' : device.deviceType.name}
                        tr
                            td Opis
                            td #{device.desctiption==null ? '' : device.desctiption}

        div(class='row')
            div(class='col mx-md-5 mt-4')
                a.btn.btn-danger.my-5.mr-2(href=device.url + '/usun') Usuń 
                a.btn.btn-primary.my-5.mr-2(href=device.url + '/edytuj') Zmodyfikuj 




    if err
        ul
            for error in err
                li!= error.msg
    script.
        const activateLink = document.querySelector('#deviceListActive')
        activateLink.className+=" active"
        const activateSubMenu = document.querySelector('#deviceSubMenu')
        activateSubMenu.className+=" active"