extends layout
block content

  div.col-lg-4#external-events
    h3 Lista Planów
    #external-events-list
      each masterplan in masterplans
        h4 #{masterplan.name}
          button.btn.btn-secondary.btn-sm.float-right(type='button' data-toggle='modal' data-target=('#ID'+masterplan._id))
            | Dodaj Plan Dzienny
          // Modal
          p.mt-4
          .modal.fade(id=('ID'+masterplan._id) tabindex='-1' role='dialog' aria-labelledby='exampleModalLongTitle' aria-hidden='true')
            .modal-dialog.modal-lg(role='document')
              .modal-content
                .modal-header
                  h5#exampleModalLongTitle.modal-title #{masterplan.name} - Plan Dzienny
                  button.close(type='button' data-dismiss='modal' aria-label='Close')
                    span(aria-hidden='true') &times;
                .modal-body(title=masterplan._id)
                  .container-fluid
                    .row
                      .col(class='this_is_unnecessary_class')
                        div(class='row')
                          div.col
                            label Nazwa planu dziennego   
                            input.form-control.planName(type='text')
                        div.mt-4(class='row')
                          div.col
                            | Opis
                            textarea.form-control.planDescription(rows='2' type='text')
                        div(class='row')
                          div.col.mt-4
                            label Numer zlecenia
                            input.form-control.planOrderNumber(type='text')
                        div(class='row')
                          div.col
                            label Linia
                            select.planLine.form-control(type='select' name='line' )
                              option(value='Dowolne' selected) Dowolne
                              each line in lines
                                if plan
                                  option(value=line._id) #{line.name}
                          div.col
                            label Operacja
                            select.planOperation.form-control(type='select' name='operation' )
                              option(value='Dowolne' selected) Dowolne
                              each operation in operations
                                  option(value=operation._id) #{operation.name}
                        div.mt-4(class='row')
                          div.col
                            label Typ Urządzenia
                            select.planDevicetype.form-control(type='select' name='devicetype' )
                              option(value='Dowolne' selected) Dowolne
                              each devicetype in devicetypes
                                  option(value=devicetype._id) #{devicetype.name}
                          div.col
                            label Urządzenie
                            select.planDevice.form-control(type='select' name='device' )
                              option(value='Dowolne' selected) Dowolne
                              each device in devices
                                  option(value=device._id) #{device.name}
                        div.mt-4(class='row')
                          div.col
                            div.form-check
                              input.planIsParalyzing(class="form-check-input" type="checkbox" value=1)
                              label Konieczne zatrzymanie linii.
                .modal-footer
                  button.btn.btn-secondary(type='button' data-dismiss='modal') Zamknij
                  button.btn.btn-primary(type='button' id='ABB' onclick='addSubPlan(this)') Dodaj

    div
      button.btn.btn-danger.mt-3(type="button" id='testSendButton' onclick="")  Zapisz 
  div.col#calendar-wrap
    #calendar



  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.css')
  script(src='https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js')
  script.
    // PLAN: ['_id', 'name', 'dateStart', 'dateEnd', 'status']
    let events_list = !{JSON.stringify(events_list)}
    // this set holds ID's of all modified events
    let modifiedEvents = new Set
    // Array that holds created plan objects' additional info that doesn't fit into Calendar
    let createdPlans = []

    var calendarEl = document.getElementById('calendar');
    var calendar = new FullCalendar.Calendar(calendarEl, {
      headerToolbar: {
        left: 'prev,next today',
        center: 'title',
        right: 'dayGridMonth,timeGridWeek,timeGridDay,listWeek'
      },
      navLinks: true, // can click day/week names to navigate views
      nowIndicator: true,
      weekNumbers: true,
      weekNumberCalculation: 'ISO',
      editable: true,
      droppable: true, // this allows things to be dropped onto the calendar
      /* I am using eventChange and eventReceive to track changes in the calendar */
      eventChange: function(info){
        if (!modifiedEvents.has(info.event.id)) {
          modifiedEvents.add(info.event.id)
        }
      },
      eventReceive: function(info){
        if (!modifiedEvents.has(info.event.id)) {
          modifiedEvents.add(info.event.id)
        }
      },
      drop: function(arg) {
        // remove the element from the "Draggable Events" list
        arg.draggedEl.parentNode.removeChild(arg.draggedEl);
      },
      events: events_list,
      eventClick: function(info) {
        info.jsEvent.preventDefault(); // don't let the browser navigate

        if (info.event.url) {
          window.open(info.event.url);
        }
      }
      
    });
    calendar.render();

    /* FUNCTIONS */
    // id of newly created plans is ('ID' + temporaryId)
    let temporaryId = 1
    function addSubPlan(button){
      let form = button.parentNode.previousSibling   // class='modal-body' title='masterplan mongoId'
      let planMasterplanId = form.title
      let planName = form.querySelector('.planName').value
      let planDescription = form.querySelector('.planDescription').value
      let planOrderNumber = form.querySelector('.planOrderNumber').value
      let planLine = form.querySelector('.planLine').value
      let planOperation = form.querySelector('.planOperation').value
      let planDevicetype = form.querySelector('.planDevicetype').value
      let planDevice = form.querySelector('.planDevice').value
      let planIsParalyzing = form.querySelector('.planIsParalyzing').checked
      // wypełnia zmiana przy raporcie: 1 - nierozpoczęte, 2 - rozgrzebane 3 - zrobione
      let planStatus = 1

      createdPlans['ID'+temporaryId] = {
        masterplanId: planMasterplanId,
        name: planName, 
        description: planDescription,
        orderNumber: planOrderNumber,
        isParalyzing: planIsParalyzing,
        status: planStatus }

      // If line name is not picked it's value is equal to "dowolne". Don't save such objects.
      if (planLine !== 'Dowolne')
        createdPlans['ID'+temporaryId].line = planLine
      if (planOperation !== 'Dowolne')
        createdPlans['ID'+temporaryId].operation = planOperation
      if (planDevicetype !== 'Dowolne')
        createdPlans['ID'+temporaryId].devicetype = planDevicetype
      if (planDevice !== 'Dowolne')
        createdPlans['ID'+temporaryId].device = planDevice




      // paste new bar below masterplan header & button
      pasteDiv = `<div class="fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event fc-event-main" 
                  id=ID`+temporaryId+'>'+planName+`</div>`
      whereToPaste = document.querySelector('#ID'+planMasterplanId)
      whereToPaste.insertAdjacentHTML('beforebegin', pasteDiv)
      // make it Draggable
      let myDraggableEl = document.getElementById('ID'+temporaryId)
      new FullCalendar.Draggable(myDraggableEl, {
        eventData:  {
          title: planName,
          id: 'ID'+ temporaryId,
          }
      });
      temporaryId++
    }


    function saveModifiedPlans(){
      //console.log('modifiedEvents: ',modifiedEvents)
      //console.log('createdPlans', createdPlans)
      for (let planId of modifiedEvents){
        event = calendar.getEventById(planId)
        // check if it is newly created plan or plan from db
        if (planId.slice(0,2) === 'ID'){
          createdPlans[planId].dateStart = event.start
          createdPlans[planId].dateEnd = event.end
          saveNewPlan(createdPlans[planId])
        } else {
          //end is mongoDB id
          let modifiedPlan = {id: planId, dateStart: event.start, dateEnd: event.end}
          updateExistingPlan(modifiedPlan)
        }
      }
    }


    function saveNewPlan(newPlan){
      fetch('/api/masterplan/calendar/saveNewPlan', {
        method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(newPlan)
      })
      .then(function(res) {
        return res.json()
      })
      .then(function(response) {
        if(response.message) {
          console.log(response.message)
        }
        else{
          console.log(response)
        }
      })
      .catch((err) => {
        console.log(err.message)
      })
    }

    function updateExistingPlan(modifiedPlan){
      fetch('/api/masterplan/calendar/updateExistingPlan', {
        method: 'POST',
          headers: {
            'Accept': 'application/json',
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(modifiedPlan)
      })
      .then(function(res) {
        return res.json()
      })
      .then(function(response) {
        if(response.message) {
          console.log(response.message)
        }
        else{
          console.log(response)
        }
      })
      .catch((err) => {
        console.log(err.message)
      })
    }
    


    /* LISTENERS */
    let el2 = document.getElementById("testSendButton");
    el2.addEventListener("click", saveModifiedPlans, false);

