extends layout
block content
   div(class="col mx-md-5")
      h1.my-5 #{title}
      form(method='POST' action='')
         div.form-group
            div(class='row')
               div.col
                  label Nazwa planu dziennego   
                  input#name.form-control(name='name' type='text' value=(undefined===plan ? '' : plan.name))
            div.mt-4(class='row')
               div.col
                  | Opis
                  textarea#description.form-control(name='description' rows='2' type='text') #{undefined===plan ? '' : plan.description}
            div(class='row')
               div.col.mt-4
                  label Numer zlecenia
                  input#orderNumber.form-control(name='orderNumber' type='text' value=(undefined===plan ? '' : plan.orderNumber))
            div(class='row')
               div.col
                  label Linia
                  select#line.form-control(type='select' name='line' )
                     option(value='Dowolne' selected) Dowolne
                     each line in lines
                        if plan
                           if plan.line
                              option(value=line._id selected=(line._id.toString()===plan.line._id.toString() ? 'selected' : false )) #{line.name}
                           else
                              option(value=line._id) #{line.name}
                        else
                           option(value=line._id) #{line.name}
               div.col
                  label Operacja
                  select#operation.form-control(type='select' name='operation' )
                     option(value='Dowolne' selected) Dowolne
                     each operation in operations
                        if plan
                           if plan.operation
                              option(value=operation._id selected=(operation._id.toString()===plan.operation._id.toString() ? 'selected' : false )) #{operation.name}
                           else
                           option(value=operation._id) #{operation.name}
                        else
                           option(value=operation._id) #{operation.name}
            div.mt-4(class='row')
               div.col
                  label Typ Urządzenia
                  select#devicetype.form-control(type='select' name='devicetype' )
                     option(value='Dowolne' selected) Dowolne
                     each devicetype in devicetypes
                        if plan
                           if plan.devicetype
                              option(value=devicetype._id selected=(devicetype._id.toString()===plan.devicetype._id.toString() ? 'selected' : false )) #{devicetype.name}
                           else
                           option(value=devicetype._id) #{devicetype.name}
                        else
                           option(value=devicetype._id) #{devicetype.name}
               div.col
                  label Urządzenie
                  select#device.form-control(type='select' name='device' )
                     option(value='Dowolne' selected) Dowolne
                     each device in devices
                        if plan
                           if plan.device
                              option(value=device._id selected=(device._id.toString()===plan.device._id.toString() ? 'selected' : false )) #{device.name}
                           else
                              option(value=device._id) #{device.name}
                        else
                           option(value=device._id) #{device.name}
            div.mt-4(class='row')
               div.col
                  div.form-check
                  input#isParalyzing(name='isParalyzing' class="form-check-input" type="checkbox" value=1)
                  label Konieczne zatrzymanie linii.

            .row.mt-2
               .col.d-flex.justify-content-between.mt-4(style='max-width: 600px;')
                  .form-check.form-check-inline
                     input.form-check-input(type='radio' id=('inlineRadio1') name='status' value='1' checked=(plan===undefined? '' : plan.status===1 ? true : false))
                     label.form-check-label(for='inlineRadio1')  Nie rozpoczęte
                  .form-check.form-check-inline
                     input.form-check-input(type='radio' id=('inlineRadio2') name='status' value='2' checked=(plan===undefined? '' : plan.status===2 ? true : false))
                     label.form-check-label(for='inlineRadio2')  W trakcie
                  .form-check.form-check-inline
                     input.form-check-input(type='radio' id=('inlineRadio3') name='status' value='3' checked=(plan===undefined? '' : plan.status===3? true : false))
                     label.form-check-label(for='inlineRadio3')  Zakończone
                    

         button.btn.btn-primary(type='submit') Zapisz