extends layout 

block content
    h1= title 

    p!= result.name 
    p!= result.description
    div 
        a(href=result.url+'/edytuj') EDYTUJ
    div 
        a(href=result.url+'/usun') USUN
    

    if err
        ul
            for error in err
                li!= error.msg
    script.
        const activateSubMenu = document.querySelector('#deviceSubMenu')
        activateSubMenu.className+=" active"