extends layout

block content
    div(class="col mx-md-5")
        h1.text-center.mb-5= title

        a.btn.btn-primary.my-2(href="/api/linie-produkcyjne/dodaj") Utwórz Linię
        table.table.table-bordered.table-striped.table-hover.dark-header-hover
            thead.table-dark
                tr
                    th(width='30%') Nazwa
                    th Opis
            tbody
                each line in list
                    tr
                        td.padding0
                            a.black-link(href=line.url) #{line.name}
                        td.padding0
                            a.black-link(href=line.url) #{line.description}
                else
                    li.list-group-item Brak linii.

    script.
        const activateLink = document.querySelector('#productionLineListActive')
        activateLink.className+=" active"
        const activateSubMenu = document.querySelector('#deviceSubMenu')
        activateSubMenu.className+=" active"