extends layout 
block content 
    div.container
        div.row
            h1.col-12.h1.text-center.m-4= title

            div.col-xl-5.col-sm-12.mt-4
                div.raportTableTitle.text-center.mt-1 Skład Osobowy
                if present||absent
                    div.form-group
                        form#team(data-raportId=data.raport._id data-raportSavedTeam=data.raport.team)
                            table.table.table-sm.mb-0
                                thead 
                                    tr
                                        th(scope="col") Imię
                                        th(scope="col") Nazwisko
                                        th.text-center(scope="col") Obecność
                                tbody 
                                    each employee in present
                                        tr
                                            td!= employee.name 
                                            td!= employee.surname
                                            td.text-center
                                                input.m-1#presentEmployee(type="checkbox" name="presence" data-userId=employee._id checked)

                                    each employee in absent
                                        tr
                                            td!= employee.name 
                                            td!= employee.surname
                                            td.text-center
                                                input.m-1#presentEmployee(type="checkbox" name="presence" data-userId=employee._id)
                            buttonbtn.align-right.btn.btn-outline-success.btn-block.mb-1(type="button" onclick='saveTeam()') Zapisz skład osobowy
                else
                    p BRAK SKŁADU OSOBOWEGO DLA TEJ ZMIANY
                form.mt-5#roundAround
                    div.raportTableTitle.text-center Obchód
                    div.form-group
                        table.table.table-sm.mb-0
                            thead 
                                th(scole="col") Miejsce
                                th(scole="col") Dodatkowy opis
                                th(scole="col") OK/NOK
                            tbody#roundAroundTBody(data-savedRoundAround=data.raport.roundAround)
                                tr
                                    td 
                                        p Kotłownia 
                                    td 
                                        textarea#kettle.form-control(rows="1")
                                            
                                    td
                                        input.m-1(type="radio" name="kettle" value="OK")
                                        label(for="kettle") OK
                                        br
                                        input.m-1(type="radio" name="kettle" value="NOK")
                                        label(for="kettle") NOK
                                tr
                                    td 
                                        p Kompresownia
                                    td 
                                        textarea#compressor.form-control(rows="1")
                                    td
                                        input.m-1(type="radio" name="compressor" value="OK")
                                        label(for="compressor") OK
                                        br
                                        input.m-1(type="radio" name="compressor" value="NOK")
                                        label(for="compressor") NOK
                                tr
                                    td 
                                        p Wieża chłodu
                                    td 
                                        textarea#ice.form-control(style="overflow: auto" rows="1")
                                    td
                                        input.m-1(type="radio" name="ide" value="OK")
                                        label(for="ide") OK
                                        br
                                        input.m-1(type="radio" name="ide" value="NOK")
                                        label(for="ide") NOK
                                tr
                                    td 
                                        p Rozdzielnia
                                    td 
                                        textarea#electric.form-control(rows="1")
                                    td
                                        input.m-1(type="radio" name="electric" value="OK")
                                        label(for="electric") OK
                                        br
                                        input.m-1(type="radio" name="electric" value="NOK")
                                        label(for="electric") NOK
                                tr
                                    td 
                                        p Workshop
                                    td 
                                        textarea#workshop.form-control(rows="1")
                                    td
                                        input.m-1(type="radio" name="workshop" value="OK")
                                        label(for="workshop") OK
                                        br
                                        input.m-1(type="radio" name="workshop" value="NOK")
                                        label(for="workshop") NOK
                                
                        buttonbtn.align-right.btn.btn-outline-success.btn-block.mb-5(type="button" onclick='saveRoundAround()') Zapisz obchód

                form#addiitonalInfo
                    div.raportTableTitle.text-center Dodatkowe informacje
                    div.form-group
                        textarea#freeText.form-control(rows="5") #{data.raport.additionalInfo}
                    buttonbtn.align-right.btn.btn-outline-success.btn-block.mb-5(type="button" onclick='saveAdditionalInfo()') Zapisz dodatkowy opis

            div.col-xl-7.col-md-12.col-sm-12
                h3.h3.text-center Lista awarii
                button.btn.btn-outline-warning#newFailure(type="button" onclick='addFBtn()') Dodaj Awarię

                div.accordion#failureAccordion.mt-2
                    
                    if data.raport.failure.length!=0
                       
                        each failure, index in data.raport.failure

                            div.card#card(value=failure._id)
                                
                                div.card-header.gestamp-bg-color
                                    h2.mb-0 
                                        button.btn.btn-link.btn-block.text-left.collapsed(type="button" data-toggle="collapse" data-target='#collapse'+index aria-expanded="true" aria-controls="collapseOne" style="color: white") Awaria num #{index + 1}
                                
                                div.collapse(data-parent="#failureAccordion" id='collapse'+index)
                                    
                                    div.card-body
                                        
                                        form(data-rapId=data.raport._id data-failureId=failure._id)
                                            
                                            div.form-row#startUpOption(value!=failure)
                                                
                                                div.form-group.col-4
                                                    label(for="prodLineOption") Linia produkcyjna
                                                    select#prodLineOption.form-control(name="prodLine")
                                                        each prodLineIterate in data.prodLines 
                                                            option(value!=prodLineIterate._id selected=(failure.prodLine.name==prodLineIterate.name)) #{prodLineIterate.name}      
                                                div.form-group.col-4
                                                    label(for="deviceTypeOption") Typ urządzenia
                                                    select#deviceTypeOption.form-control
                                                        each deviceTypeIt in data.deviceTypes
                                                            option(value!=deviceTypeIt._id selected=(failure.deviceType.name==deviceTypeIt.name)) #{deviceTypeIt.name}  
                                                div.form-group.col-4
                                                    label(for="device") Urządzenie
                                                    select#deviceOption.form-control
                                                        each deviceIt in data.devices
                                                            option(value!=deviceIt._id selected=(failure.device.name==deviceIt.name)) #{deviceIt.name}
                                            div.form-row
                                                div.form-group.col-4
                                                    label(for="sprawdzmy to") Godzina rozpoczęcia
                                                    input.form-control#startTime(type='time', name='name' value=failure.startTime)
                                                div.form-group.col-4
                                                    label(for="sprawdzmy to") Czas trwania [hh:mm]
                                                    input.form-control#duration(type='time', name='name' value=failure.duration)
                                                div.form-group.col-4
                                                    p Efekt
                                                    input.mx-1(type="radio" name="efect" value="OK" checked=(failure.effect===true))
                                                    label.mr-2(for="efect") OK
                                                    input.mx-1(type="radio" name="efect" value="NOK" checked=(failure.effect===false))
                                                    label(for="efect") NOK

                                            div.form-row
                                                div.form-group.col-12
                                                    label(for="orderNum") Numer zlecenia
                                                    textarea.form-control#orderNum(type='text' name='orderNum') #{failure.orderNum}

                                            div.form-row
                                                div.form-group.col-12
                                                    label(for="cause") Przyczyna
                                                    textarea.text-break.form-control#cause(type='text', name='cause') #{failure.cause}

                                            div.form-row
                                                div.form-group.col-12
                                                    label(for="diagnostics") Diagnostyka
                                                    textarea.form-control#diagnostics(type='text', name='diagnostics') #{failure.diagnostics}

                                            div.form-row
                                                div.form-group.col-12
                                                    label(for="actions") Wykonane akcje
                                                    textarea.form-control#actions(type='text', name='actions') #{failure.action}

                                            div.form-row
                                                div.form-group.col-6
                                                    label(for="usedParts") Wykorzystane części
                                                    textarea.form-control#usedParts(type='text', name='usedParts') #{failure.usedParts}
                                                div.form-group.col-6
                                                    label(for="missingParts") Brakujące części
                                                    textarea.form-control#missingParts(type='text', name='missingParts') #{failure.missingParts}

                                            div.form-row
                                                div.form-group.col-12
                                                    button.btn.btn-outline-danger#deleteFailure(type="button" onclick='deleteSomeFail(this)') Usuń
                                                    button.btn.btn-outline-success.float-right#saveFailure.float-right(type="button" onclick='saveSomeFailure(this)') Zapisz
                    div.card#card(style="display: none")
                        div.card-header.gestamp-bg-color
                            h2.mb-0 
                                button.btn.btn-link.btn-block.text-left(type="button" data-toggle="collapse" data-target="#collapse1" aria-expanded="true" aria-controls="collapseOne" style="color: white") Awaria num 1
                        div#collapse1.collapse(data-parent="#failureAccordion")
                            div.card-body
                                form(data-rapId=data.raport._id)
                                    div.form-row
                                        div.form-group.col-4
                                            label(for="inputState") Linia
                                            select#inputState.form-control
                                                each prodLine in data.prodLines 
                                                    option(value!=prodLine._id) #{prodLine.name}
                                        div.form-group.col-4
                                            label(for="inputState") Typ Urządzenia
                                            select#inputState.form-control
                                                each deviceType in data.deviceTypes
                                                    option(value!=deviceType._id) #{deviceType.name}
                                        div.form-group.col-4
                                            label(for="inputState") Urządzenie
                                            select#inputState.form-control
                                                each device in data.devices
                                                    option(value!=device._id) #{device.name}
                                    div.form-row
                                        div.form-group.col-4
                                            label(for="sprawdzmy to") Godzina rozpoczęcia
                                            input.form-control#startTime(type='time', name='name' required)
                                        div.form-group.col-4
                                            label(for="sprawdzmy to") Czas trwania [hh:mm]
                                            input.form-control#duration(type='time', name='name' required)
                                        div.form-group.col-4
                                            p Efekt
                                            input.mx-1(type="radio" name="efect" value="OK")
                                            label.mr-2(for="efect") OK
                                            input.mx-1(type="radio" name="efect" value="NOK")
                                            label(for="efect") NOK

                                    div.form-row
                                        div.form-group.col-12
                                            label(for="orderNum") Numer zlecenia
                                            input.form-control#orderNum(type='text', name='orderNum')

                                    div.form-row
                                        div.form-group.col-12
                                            label(for="cause") Przyczyna
                                            textarea.form-control#cause(type='text', name='cause')

                                    div.form-row
                                        div.form-group.col-12
                                            label(for="diagnostics") Diagnostyka
                                            textarea.form-control#diagnostics(type='text', name='diagnostics')

                                    div.form-row
                                        div.form-group.col-12
                                            label(for="actions") Wykonane akcje
                                            textarea.form-control#actions(type='text', name='actions')

                                    div.form-row
                                        div.form-group.col-6
                                            label(for="usedParts") Wykorzystane części
                                            textarea.form-control#usedParts(type='text', name='usedParts')
                                        div.form-group.col-6
                                            label(for="missingParts") Brakujące części
                                            textarea.form-control#missingParts(type='text', name='missingParts')

                                    div.form-row
                                        div.form-group.col-12
                                            button.btn.btn-outline-danger#deleteFailure(type="button" name="deleteDiv" onclick="deleteSomeFail(this)") Usuń
                                            button.btn.btn-outline-success.float-right#saveFailure.float-right(type="button" onclick='saveSomeFailure(this)') Zapisz
                                        

                                            


    script.
        //activate option on navbar
        //its kinda fucked up, but adding new one is cloning form make visible:none which is last child of #failureAccordion
        //when new failure is added filled in and saved id of this failure is stored in form div
        //raport id of this raport is stored also in form 
        //form Node is used as form variable in saveSomeFailure() and used to pass data to backend
        const activateSubMenu = document.querySelector('#myRaport')
        activateSubMenu.className+=" active"

        const bigDiv = document.querySelector('#failureAccordion')
        const newFailureBtn = document.querySelector('newFailure')

        const teamForm = document.querySelector('#team')

        startUpRoundAround()
        function startUpRoundAround() {
            const tableBody = document.querySelector('#roundAroundTBody')
            if(tableBody.dataset.savedroundaround){
                routeDesc = ['kettle', 'compressor', 'ice', 'electric', 'workshop']

                savedRoundAround=JSON.parse(tableBody.dataset.savedroundaround)

                for(var i = 0;i<routeDesc.length;i++) {
                    tableBody.childNodes[i].childNodes[1].childNodes[1].value = savedRoundAround[routeDesc[i]]
                    if(savedRoundAround['is'+routeDesc[i]] == true) {
                        tableBody.childNodes[i].childNodes[2].childNodes[0].checked=true
                    }
                    if(savedRoundAround['is'+routeDesc[i]] == false) {
                        tableBody.childNodes[i].childNodes[2].childNodes[3].checked =true
                    }
                }
            }
        }

        //SAVE ADDITINAL INFO
        function saveAdditionalInfo() {
            const freeText = document.querySelector('#freeText')
            fetch('/api/zapisz-dodatkowe-info/'+teamForm.dataset.raportid, {
                method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({roundAround: freeText.value})
            })
            .then(function(res, err) {
                return res.json()
            })
            .then(function(response) {
                console.log(response)
                if(response.message) {
                    alert(response.message)
                }
                else{
                    alert(response)
                }
            })
            .catch((err) => {
                alert(err.message)
            })
            
        }

        //ALL THE WORK WITH ROUNDAROUND // CREATING AND EMPTY SPACE IN FRONT OF TR ELEMENT WILL BREAK THIS
        function saveRoundAround() {
            const tableBody = document.querySelector('#roundAroundTBody')
            routeDesc = ['kettle', 'compressor', 'ice', 'electric', 'workshop']
            roundAround = {}
            for(var i = 0;i<tableBody.childNodes.length;i++) {
                roundAround[routeDesc[i]] = tableBody.childNodes[i].childNodes[1].childNodes[1].value
                if(tableBody.childNodes[i].childNodes[2].childNodes[0].checked == true) {
                    roundAround['is'+routeDesc[i]] = true
                }
                if(tableBody.childNodes[i].childNodes[2].childNodes[3].checked == true) {
                    roundAround['is'+routeDesc[i]] = false
                }
                if(tableBody.childNodes[i].childNodes[2].childNodes[0].checked == false && tableBody.childNodes[i].childNodes[2].childNodes[3].checked == false) {
                    roundAround['is'+routeDesc[i]] = NaN
                }
            }

            fetch('/api/zapisz-obchod/'+teamForm.dataset.raportid, {
                method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(roundAround)
            })
            .then(function(res) {
                return res.json()
            })
            .then(function(response) {
                if(response.message) {
                    alert(response.message)
                }
                else{
                    alert(response)
                }
            })
            .catch((err) => {
                alert(err.message)
            })
        }

        //save fetch team
        function saveTeam() {
            var teamPresent = []
            var teamAbsent = []
            // Access users' chcekboxes in some ugly way that only smart boys can understand
            for(var i = 1; i<teamForm.childNodes[0].childNodes[1].childNodes.length;i++) {
                if(teamForm.childNodes[0].childNodes[1].childNodes[i].childNodes[2].childNodes[0].checked == true) {
                    teamPresent.push(teamForm.childNodes[0].childNodes[1].childNodes[i].childNodes[2].childNodes[0].dataset.userid)
                }
                else {
                    teamAbsent.push(teamForm.childNodes[0].childNodes[1].childNodes[i].childNodes[2].childNodes[0].dataset.userid)
                }
            }
            fetch('/api/zapisz-sklad/'+teamForm.dataset.raportid, {
                method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        teamPresent: teamPresent,
                        teamAbsent: teamAbsent,
                    })
            })
            .then(function(res) {
                return res.json()
            })
            .then(function(response) {
                if(response.message) {
                    alert(response.message)
                }
                else{
                    alert(response)
                }
            })
            .catch((err) => {
                alert(err.message)
            })
        }


        //e add new Failure button onclick
        var failureNum = bigDiv.childElementCount -1
        function addFBtn() {
            failureNum++
            var newDiv = bigDiv.lastChild.cloneNode(true)

            newDiv.firstChild.firstChild.lastChild.textContent = 'Awaria num '+failureNum
            newDiv.firstChild.firstChild.lastChild.dataset.target = '#collapse'+failureNum
            newDiv.lastChild.id = 'collapse'+failureNum
            newDiv.style.display = 'flex'
            bigDiv.appendChild(newDiv)
        }
        // add / delete failure buttons onlick
        function deleteSomeFail(button) {
            var form = button.parentNode.parentNode.parentNode
            if(form.dataset.failureid) {
                var accordionDiv = button.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode
                var deleteMeDiv = button.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode
                fetch('/api/usun-awarie/'+form.dataset.rapid, {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({failureId: form.dataset.failureid})
                    
                })
                .then(function(response) {
                console.log(response)

                return response.json();
                })
                .then(function(json) {
                    if(json.message) {
                        alert(json.message)
                    }
                    else{
                    accordionDiv.removeChild(deleteMeDiv)
                    alert('Success!')
                    }
                })
                .catch((err) => {
                    alert(err.message)
                })

                }
            if(!form.dataset.failureid) {
                var accordionDiv = button.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode
                var deleteMeDiv = button.parentNode.parentNode.parentNode.parentNode.parentNode.parentNode
                accordionDiv.removeChild(deleteMeDiv)
            }
        }
        function saveSomeFailure(button) {
            var form = button.parentNode.parentNode.parentNode
            zmienna =form
            prodLineId = form.childNodes[0].childNodes[0].childNodes[1].selectedOptions[0].value
            deviceTypeId = form.childNodes[0].childNodes[1].childNodes[1].selectedOptions[0].value
            deviceId = form.childNodes[0].childNodes[2].childNodes[1].selectedOptions[0].value

            startTime = form.childNodes[1].childNodes[0].childNodes[1].value
            duration = form.childNodes[1].childNodes[1].childNodes[1].value

            var effect
            if(form.childNodes[1].childNodes[2].childNodes[1].checked) {effect = true}
            if(form.childNodes[1].childNodes[2].childNodes[3].checked) {effect = false}

            orderNum = form.childNodes[2].childNodes[0].childNodes[1].value

            cause = form.childNodes[3].childNodes[0].childNodes[1].value

            diagnostics = form.childNodes[4].childNodes[0].childNodes[1].value

            action = form.childNodes[5].childNodes[0].childNodes[1].value

            usedParts = form.childNodes[6].childNodes[0].childNodes[1].value
            missingParts = form.childNodes[6].childNodes[1].childNodes[1].value
            
            fetch('/api/zapisz-awarie/'+form.dataset.rapid, {
                method: 'POST',
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    failureId: form.dataset.failureid,
                    prodLine: prodLineId,
                    deviceType: deviceTypeId,
                    device: deviceId,
                    startTime: startTime,
                    duration: duration,
                    orderNum: orderNum,
                    cause: cause,
                    diagnostics: diagnostics,
                    effect: effect,
                    action: action,
                    usedParts: usedParts,
                    missingParts: missingParts})
            })
            .then(function(response) {
                return response.json();
            })
            .then(function(json) {
                if(json.message) {
                    alert(json.mesage)
                }
                else{
                alert('Success!')
                form.dataset.failureid = json._id
                }
            })
            .catch((err) => {
                alert(err.message)
            })
        }
    
    if errors
        ul
            for error in errors
                li!= error.msg
