extends layout
block content
   div(class='col mx-md-5')
      div(class='row')
         div(class="col my-5")
            h1.text-center.mb-3 Wyszukiwanie Awarii
      div(class='row')
         div(class="col my-2")
            table.table.table-bordered
               thead.table-dark
                  tr
                     th.text-center(colspan='2') Czas wystąpienia awarii
               tbody
                  tr
                     td(width='40%')
                        label(for='dateStart') Od
                        input.form-control#dateStart(type='date' name='dateStart')
                     td
                        label(for='shiftnum') Numer zmiany
                        select.form-control#shiftnum
                           option(value='Dowolna' selected='selected') Dowolna
                           option(value='1') Poranna
                           option(value='2') Popołudniowa
                           option(value='3') Nocna

                  tr
                     td 
                        label(for='dateEnd') Do
                        input.form-control#dateEnd(type='date' name='dateEnd')
                     td
                        label(for='timespanGt') Dłuższa niż
                           input.form-control#timespanGt(type='time' name='timespanGt')
                     
                        label(for='timespanLt') Krótsza niż
                           input.form-control#timespanLt(type='time' name='timespanLt')


      div(class='row')   
         div.col.my-2            
            table.table.table-bordered
               thead.table-dark
                  tr
                     th.text-center Autor
               tbody(id='author')
                  tr
                     td
                        select#user.form-control(type='select' name='user' )
                           option(value='Dowolne' selected=true) Dowolne
                           for user in users
                              if plan
                                 option(value=user._id selected=(user._id.toString()===plan.user._id.toString() ? 'selected' : false )) #{user.fullname}
                              else
                                 option(value=user._id) #{user.fullname}            

      div(class='row')   
         div.col.my-2            
            table.table.table-bordered
               thead.table-dark
                  tr
                     th.text-center Współautorzy 
               tbody(id='usersCollab')
                  tr
                     td
                        button(class="btn btn-danger" type='button' id="addCollaboratorsButton" onclick='addCollaborators()') Dodaj
      div(class='row')
         div.col.my-2
            table.table.table-bordered.mb-5
               thead.table-dark
                  tr
                     th.text-center(colspan='2') Obchód - wadliwy element
               tbody
                  tr
                     td
                        select.form-control#roundAround
                           option(value='Dowolne' selected=true) Dowolne
                           option(value='isKettle') Kotłownia
                           option(value='isCompressor') Kompresownia
                           option(value='isIce') Wieża Chłodu
                           option(value='isElectric') Rozdzielnia
                           option(value='isWorkshop') Warsztat

      div(class='row')
         div.col.my-2
            button(class="btn btn-primary mb-2" type='button' id="postSearchButton" onclick='postSearchButton()') Wyszukaj    
      div(class='row' id='searchResults')
         div.col.my-2




   script.
      let usersList = !{JSON.stringify(users)}
      let users = ''
      for(let i=0; i<usersList.length; i++) {
         users = users + '<option value='+ usersList[i]._id +'>' + usersList[i].name + ' ' + usersList[i].surname + '</option>';
      }
      function addCollaborators(){
         pasteHTML = (`
            <tr>
               <td>
                  <select class='form-control userCollaborator'>
                     <option value='Dowolne'> Nie wybrano </option>
                     `+users+`
                  </select>
               </td>
            </tr>
               `)
         whereToPaste = document.querySelector('#usersCollab')
         whereToPaste.insertAdjacentHTML('afterbegin', pasteHTML)
      }


      //- function timeToDate(date, time){
      //-    time = time.split(':')
      //-    let today = new Date(date)
      //-    today.setHours(time[0],time[1],0,0)
      //-    return today
      //- }

      //- function handleHours(time){
      //-    // TIME -2hr due to time shifts
      //-    let hr = Number(time.split(':')[0]) -2
      //-       if (hr < 0){
      //-          hr = 24 + hr
      //-       }
      //-    return hr
      //- }
      function calculateTimespan(time){
         time = time.split(':')
         let hours = Number(time[0])
         let minutes = Number(time[1])
         return hours*3600000 + minutes*60000
      }

      function postSearchButton(){
         let dateStart = document.getElementById('dateStart').value
         let dateEnd = document.getElementById('dateEnd').value
         //let hourStart = document.getElementById('hourStart').value
         //let hourEnd = document.getElementById('hourEnd').value
         let shiftnum = document.getElementById('shiftnum').value
         let timespanLt = document.getElementById('timespanLt').value
         let timespanGt = document.getElementById('timespanGt').value



         let author = document.getElementById('user').value
         let collaborators = document.querySelectorAll('.userCollaborator')
         let collabs_list = []
         for(usr of collaborators){
            if(usr.value !== 'Dowolne')
               collabs_list.push(usr.value)
         }
        
         let searchForm = {}
         if (shiftnum !== 'Dowolna'){
            searchForm['shift'] = Number(shiftnum)
         }
         if (dateStart != ''){
            let dS = new Date(dateStart)
            dS.setHours(-2, 0, 0, 0)
            searchForm['dateStart'] = dS
         } 
         //- if (hourStart != ''){
         //-    searchForm['hourStart'] = handleHours(hourStart)
         //- }
         if (dateEnd != ''){
            let dE = new Date(dateEnd)
            dE.setHours(22, 0, 0, 0)
            searchForm['dateEnd'] = dE
         }
         //- if (hourEnd != ''){
            
         //-    searchForm['hourEnd'] =  handleHours(hourEnd)
         //- }
         
         if (timespanLt != ''){
            searchForm['timespanLt'] = calculateTimespan(timespanLt)
         }
         if (timespanGt != ''){
            searchForm['timespanGt'] = calculateTimespan(timespanGt)
         }
         
         if (author !== 'Dowolne'){
            searchForm['author'] = author
         }
         if (collabs_list.length !== 0){
            searchForm['collaborators'] = collabs_list
         }

         console.log('FORM', searchForm)
         // send data to the server
         postSearchRaport(searchForm)
      }

      function postSearchRaport(searchForm){
         // clear previous results
         try{
         const e = document.querySelector("#searchResults");
         e.parentElement.removeChild(e);
         } catch (error){
            console.log(error)
         }

         let status
         fetch('', {
         method: 'POST',
            headers: {
               'Accept': 'application/json',
               'Content-Type': 'application/json'
            },
            body: JSON.stringify(searchForm)
      })
      .then(function(res) {
         status = res.status
         return res.json()
      })
      .then(function(data) {
         if (status===200){
            console.log('Success', status)
            handleResData(data)
         }
         else{
            console.log('Błąd Serwera', status)
            console.log(data)
         }
      })
      .catch((err) => {
         console.log(err)
      })
      }

      function handleResData(data){
         console.log(data)
         data.sort(function(a, b) {let dateA = a.startDate; let dateB = b.startDate; return (dateA < dateB) ? -1 : (dateA > dateB) ? 1 : 0;});
          let container = ''
         for (failure of data){
            let url = '/api/failure/'+failure._id
            

            container = container +`
            <tr> 
               <td class='padding0'> 
                  <a class='black-link' href=`+url+'>'+new Date(failure.startDate).toLocaleString() +`</a> 
               </td> 
               <td class='padding0'> 
                  <a class='black-link' href=`+url+'>'+new Date(failure.endDate).toLocaleString()+`</a> 
               </td> 
            </tr>`
         }
         let raport_count = data.length
         //- let deklinacja_raportu
         //- if (raport_count===0 || raport_count>=5)
         //-    deklinacja_raportu = 'Raportów'
         //- else if (raport_count===1)
         //-    deklinacja_raportu = 'Raport'
         //- else
         //-    deklinacja_raportu = 'Raporty'
         pasteHTML = (`
         <div class='row' id='searchResults'>
            <div class='col my-2'>
               <h2> Znaleziono `+raport_count +`Awarii.</h2>
                  <table class='table table-bordered table-hover dark-header-hover'>
                     <thead class='table-dark'>
                        <tr>
                           <th> Data Rozpoczęcia</th>
                           <th> Data Zakończenia </th>
                        </tr>
                     </thead>
                     <tbody>
                     `+container+` 
                     </tbody>
                  </table>
                   
            </div>
         </div>
            `)
      whereToPaste = document.querySelector('#postSearchButton')
      whereToPaste.insertAdjacentHTML('afterend', pasteHTML)

      }


