extends layout

block content
    div(class="col mx-md-5")
        div(class='row')
           div(class="col")
                h1= title 

                h4 #{user.fullname}
                p #[strong Email:] #{user.email}
                p #[strong Stanowisko:] #{user.position}
                p #[strong Przywileje:] #{user.permission}




        div(class='row')
            div(class="col")
                input#isAvaible(type='checkbox' name='isAvaible' disabled='disabled' checked=user.isAvaible)
                label(for='isAvaible') Dostępność pracownika
        div(class='row')
           div(class="col")
                input#isEmployed(type='checkbox' name='isEmployed' disabled='disabled' checked=user.isEmployed)
                label(for='isEmployed') Status zatrudnienia pracownika 

        if err
            ul
                for error in err
                    li!= error.msg

        div(class='row')
            div(class="col")
                a.btn.btn-primary.my-5.mr-2(href=user.url + '/usun') Usuń 

                a.btn.btn-primary.my-5.mr-2(href=user.url + '/edytuj') Zmodyfikuj 

    script.
        const activateSubMenu = document.querySelector('#userSubMenu')
        activateSubMenu.className+=" active"