extends layout 

block content 
    h2.glowny= title 

    form(method='POST' action='')
        div.form-group
            label(for='name') Imię:
            input#name.form-control(type='text' name='name', required= 'true', value=(undefined===result ? '' : result.name))
            
            label(for='surname') Nazwisko:
            input.form-control(type='text', name='surname', required= 'true' value=(undefined===result ? '' : result.surname))

            label(for='email') Adres email:
            input#ip.form-control(type='email', name='email' value=(undefined===result ? '' : result.email))

            div 
                p Wybierz stopień dostępu
                select(name='permission', selected='technik')
                    each data in permission
                        option(value!= data selected=(data===result.permission ? result.permission : undefined))  #{data}

            div 
                p Wybierz stanowisko
                select(name='position')
                    each positions in position 
                        option(value!= positions selected=(positions===result.position ? result.position : undefined))  #{positions}
        
        div
            input.isAvaible(type='checkbox' name='isAvaible' checked=result.isAvaible)
            label(for='isAvaible') Dostępność pracownika

        div
            input.isEmployed(type='checkbox' name='isEmployed' checked=result.isEmployed)
            label(for='isEmployed') Status zatrudnienia pracownika 
        
        button.btn.btn-primary(type='submit') Zapisz

        div 
            a(href=result.url+'/usun') USUN Użytkownika

    script.
        const isEmployed = document.querySelector('.isEmployed')
        const isAvaible = document.querySelector('.isAvaible')
        

        isEmployed.onclick = function() {
            if(isEmployed.checked == true) {
                isAvaible.disabled = false;
            }
            if(isEmployed.checked == false) {
                isAvaible.checked = false;
                isAvaible.disabled = true;
        }
        }


    if errors
        ul
            for error in errors
                li!= error.msg
    script.
        const activateSubMenu = document.querySelector('#userSubMenu')
        activateSubMenu.className+=" active"
//- sends object {name: 'data', freeText: 'data', prodLineId: 'data'} in req.body